@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');

/* font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font: normal 12pt Arial;
    background-color: #ADD2CA;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #FAF8F9;
    width: 380px;
    height: 485px;
    padding: 12px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
    margin-top: 12px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #5EA2A3;
}

.numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.number-input {
    background: #ADD2CA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 220px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #478A90;
    text-align: center;
}

.signal-plus {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bolder;
    font-size: 25px;
    color: #5EA2A3;
}

.btn-somar {
    margin: 30px 0 0 0;
    padding: 12px;
    width: 200px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #5EA2A3;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: .1em;
    color: white;
}

.btn-somar:hover {
    background-color: #478A90;
}

.res {
    font-family: 'Montserrat', sans-serif;
    color: #478A90;
}

span {
    margin-left: 7px;
    font-size: 1.3em;
    font-weight: bolder;
    color: #478A90;
}